.matchlist {
  list-style: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  .matchlist__game {
    @include section-panel;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
    section {
      display: flex;
      align-items: center;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    .champion-icon {
      width: 60px;
    }

    .sub-text,
    .champion-name {
      @include gray-text(13px);
    }
  }
  .matchitem--win {
    border-color: 2px solid #1e54bf6e;
  }
  .matchitem--lose {
    border-color: 2px solid #bf1e1e6e;
  }
}

.matchlist__game .game-info {
  flex-direction: column;
  .queue-type {
    @include bold-text($size: 13px);
    margin: 2px 0;
  }
  .match-result {
    @include bold-text;
    margin: 5px 0;
  }
  .win {
    color: $font-blue;
  }
  .lose {
    color: #bf1e1e;
  }
}
.matchlist__game .game-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .summoner-setting {
    margin-left: 7px;
  }
}
.matchlist__game .kda {
  flex-direction: column;
  &__KDA {
    color: #8d8d8d;
    span {
      @include bold-text($size: 15px);
    }
    .death {
      color: #bf1e1e;
    }
  }
  &__ratio {
    @include gray-text;
    margin: 5px 0;
    span {
      @include mid-text($size: 14px);
    }
  }
  .killstreak {
    padding: 3px 10px;
    background-color: #db3030;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 800;
    color: white;
  }
}
.matchlist__game .summoner-gameInfo {
  flex-direction: column;
  @include gray-text;
  .tier-avg {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .csm {
    margin: 0 2px;
  }
  .kill-involvement {
    color: #db3030;
    font-weight: 800;
  }
}
.matchlist__game .items {
  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }
  .ward {
    margin-left: 2px;
  }
}
.matchlist__game .summonerlist {
  list-style: none;
  font-size: 13px;
  &:first-child {
    margin-right: 10px;
  }
  .summoner {
    display: flex;
    align-items: center;
    .champion-icon {
      width: 20px;
      margin-right: 5px;
    }
    .name {
      width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: none;
      color: #2b2b2b;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

@include viewportName("laptop") {
  .matchlist .matchlist__game .champion-icon {
    width: 50px;
  }
}
@include viewportName("tablet") {
  .matchlist .matchlist__game {
    border-radius: 0;
  }
}
@include viewportName("small-tablet") {
  .matchlist .matchlist__game {
    padding: 15px 5px;
  }
  .matchlist .matchlist__game .participants {
    display: none;
  }
}
@include viewportName("mobile") {
  .matchlist .matchlist__game {
    .game-setting div .summoner-setting {
      margin-left: 5px;
      .summoner-spells {
        display: flex;
        flex-direction: column;
      }
    }
    .summoner-gameInfo {
      display: none;
    }
    .items .items__item {
      grid-template-columns: repeat(2, 1fr);
    }
    .items .item-bg {
      width: 25px;
      height: 25px;
    }
  }
}
