@keyframes progressBar {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
  }
}

.info-contents {
  margin-bottom: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;

  .winning-rate,
  .kda-ratio {
    @include mid-text;
  }
  .rate {
    @include section-panel;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 15px;
  }
  .rate__bar {
    margin: 10px 0;
    display: flex;
    list-style: none;
    width: 180px;
    height: 5px;
    border-radius: 30px;
    background-color: rgba(58, 58, 58, 0.445);
    div {
      opacity: 0;
      animation: progressBar 0.7s forwards;
      animation-delay: 0.3s;
      &:first-child {
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
      }
      &:last-child {
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
      }
    }
    .rate-win {
      background-color: $main-color;
    }
  }
  .rate__total,
  .lately-kda {
    display: flex;
    justify-content: space-around;
    color: $font-gray;
  }
  .rate__total .winning-rate {
    color: $font-red;
  }
  .lately-kda {
    p {
      font-size: 14px;
    }
    span {
      @include mid-text($size: 14px);
    }
    .death {
      color: $font-red;
    }
  }

  @include viewportName("laptop") {
    flex-direction: column;
    .rate {
      margin-bottom: 10px;
      padding: 15px 20px;
    }
    .rate__bar {
      width: 100%;
      height: 10px;
    }
    .rate__bar .rate-win {
      &:first-child {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
      }
      &:last-child {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
  }
  @include viewportName("tablet") {
    .rate {
      margin-bottom: 0;
      border-radius: 0;
      border-bottom: 0;
    }
  }
}

.info-contents .champion-stats {
  list-style: none;
  display: flex;
  line-height: 1.4;
  li {
    @include section-panel;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-left: 10px;
  }
  .champion-icon {
    display: flex;
    align-items: center;
    width: 65px;
  }
  .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    p {
      font-size: 14px;
    }
  }
  .stats .detail-stats {
    display: flex;
    align-items: center;
    .winning-rate {
      margin-right: 5px;
    }
  }
  @include viewportName("laptop") {
    li {
      width: 100%;
      padding: 15px 10px;
      justify-content: center;
      &:first-child {
        margin-left: 0;
      }
    }
    .champion-icon {
      width: 55px;
    }
  }
  @include viewportName("tablet") {
    .stats .detail-stats {
      flex-direction: column;
      align-items: flex-start;
    }
    li {
      margin: 0;
      border-radius: 0;
      &:nth-child(2) {
        border-left: 0;
        border-right: 0;
      }
    }
  }
  @include viewportName("small-tablet") {
    li {
      flex-direction: column;
      align-items: center;
      .champion-name {
        display: none;
      }
      .stats {
        margin-left: 0;
        margin-top: 5px;
        align-items: center;
      }
      .stats .detail-stats {
        flex-direction: row;
        align-items: center;
      }
    }
    .champion-icon {
      width: 40px;
    }
  }
  @include viewportName("mobile") {
  }
}
