@import "./summonerRank.scss";
@import "./matchListSection.scss";
@import "./matchAvgData.scss";

@keyframes rotationLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.article {
  //border: 1px solid #d8d8d86c;
}
.summoner-info {
  @include section-panel;
  margin-top: 60px;
  margin-bottom: 25px;
  padding: 40px 25px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  section {
    display: flex;
  }
  @include viewportName("laptop") {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 25px 20px 20px;
  }
  @include viewportName("tablet") {
    border-radius: 0;
    padding: 30px 15px 15px;
  }
}
.summoner__level {
  position: relative;
  img {
    width: 90px;
    border-radius: 30px;
    border-bottom-right-radius: 10px;
  }
  span {
    position: absolute;
    bottom: 0;
    right: -5px;
    padding: 3px 7px;
    border-radius: 10px;
    border-top-left-radius: 3px;
    background-color: white;
    box-shadow: 3px 4px 10px #d8d8d8;
    font-size: 14px;
  }
  @include viewportName("tablet") {
    img {
      width: 70px;
      border-radius: 20px;
      border-bottom-right-radius: 0;
    }
    span {
      font-size: 12px;
    }
  }
}
.summoner__name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  h2 {
    @include bold-text($size: 25px);
  }
  .refresh-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100px;
    padding: 7px 0;
    border-radius: 15px;
    background-color: $main-color;
    font-size: 14px;
    color: white;
    @include loading-circle(15px, #fff, $main-color);
    &:hover {
      background-color: $deep-main-color;
      .loader::after {
        background-color: $deep-main-color;
      }
    }
  }
  .refresh-time {
    @include gray-text(14px);
    margin-top: 5px;
    color: #6868689a;
  }
  @include viewportName("tablet") {
    margin-left: 15px;
    font-size: 15px;
    .refresh-time {
      font-size: 12px;
    }
    .refresh-btn {
      font-size: 12px;
      margin-top: 3px;
      padding: 5px 0;
      border-radius: 10px;
    }
  }
}

.detail-contents {
  margin-bottom: 100px;
  .more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    padding: 15px 10px;
    outline: 0;
    border: 1px solid rgba(70, 77, 82, 0.082);
    border-radius: 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.024) 1px 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(94, 94, 94, 0.66);
    @include loading-circle(15px, #5e5e5ea8, #fff);
    &:disabled {
      display: none;
      cursor: default;
    }
  }
}
