.matchlist {
  list-style: none;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  .matchlist__game {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 3px 4px 10px #d8d8d8;
    section {
      display: flex;
      align-items: center;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    .champion-icon {
      width: 60px;
    }
  }
  .matchitem--win {
    border-color: 2px solid #1e54bf6e;
  }
  .matchitem--lose {
    border-color: 2px solid #bf1e1e6e;
  }

  .matchlist__game .game-info {
    flex-direction: column;
    .sub-text {
      color: #5e5e5e;
      font-size: 13px;
    }
    .queue-type {
      color: #2b2b2b;
      margin: 2px 0;
      font-weight: 800;
    }
    .match-result {
      margin: 5px 0;
      font-weight: 800;
      font-size: 20px;
    }
    .win {
      color: #1e53bf;
    }
    .lose {
      color: #bf1e1e;
    }
  }
  .matchlist__game .game-setting {
    display: flex;
    align-items: center;
    .summoner-setting {
      margin-left: 10px;
    }
  }
  .matchlist__game .kda {
    flex-direction: column;
    font-size: 15px;
    &__KDA {
      color: #8d8d8d;
      span {
        color: #2b2b2b;
        font-weight: 800;
      }
      .death {
        color: #bf1e1e;
      }
    }
    &__ratio {
      margin: 5px 0;
      font-size: 14px;
      color: #494949;
      span {
        font-weight: 600;
        color: #2b2b2b;
      }
    }
    .killstreak {
      padding: 3px 10px;
      background-color: #db3030;
      border-radius: 30px;
      font-size: 13px;
      font-weight: 800;
      color: white;
    }
  }
  .matchlist__game .summoner-gameInfo {
    flex-direction: column;
    font-size: 14px;
    color: #5e5e5e;
    .tier-avg {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .csm {
      margin: 0 2px;
    }
    .kill-involvement {
      color: #db3030;
      font-weight: 800;
    }
  }
  .matchlist__game .items {
    &__item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2px;
    }
    .ward {
      margin-left: 2px;
    }
  }
  .matchlist__game .summonerlist {
    list-style: none;
    font-size: 13px;
    &:first-child {
      margin-right: 10px;
    }
    .summoner {
      display: flex;
      align-items: center;
      .champion-icon {
        width: 20px;
        margin-right: 5px;
      }
      .name {
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;
        color: #2b2b2b;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
