.info-contents {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 30px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;

  .rate {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 3px 4px 10px #d8d8d869;
    font-size: 15px;
  }
  .rate__bar {
    margin: 10px 0;
    display: flex;
    list-style: none;
    width: 180px;
    height: 5px;
    border-radius: 30px;
    background-color: rgba(58, 58, 58, 0.445);
    li {
      height: 5px;
      &:first-child {
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
      }
      &:last-child {
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
      }
    }
    .rate-win {
      background-color: #1e53bf;
    }
  }
  .rate__total {
    display: flex;
    justify-content: space-around;
    color: #5e5e5e;
  }
  .winning-rate {
    font-weight: 600;
    color: #3b1111;
  }
  .lately-kda {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #4e4e4e;
    span {
      font-weight: 600;
    }
    .death {
      color: #bf1e1e;
    }
    .kda {
      font-weight: 600;
      color: #2b2b2b;
    }
  }

  @include viewportName("laptop") {
    flex-direction: column;
    .rate {
      margin-bottom: 10px;
      padding: 15px 20px;
    }
    .rate__bar {
      width: 100%;
      height: 10px;
    }
    .rate__bar li {
      width: 100%;
      height: 10px;
      &:first-child {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
      }
      &:last-child {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
  }
  @include viewportName("tablet") {
    border-radius: 0;
    padding: 10px 0;
    .rate {
      border-radius: 10px;
    }
  }
}

.info-contents .champion-stats {
  list-style: none;
  display: flex;
  line-height: 1.4;
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 3px 4px 10px #d8d8d869;
    font-size: 14px;
    margin-left: 10px;
  }
  .champion-icon {
    display: flex;
    align-items: center;
    width: 65px;
  }
  .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }
  .stats .detail-stats {
    display: flex;
    p:not(:last-child) {
      margin-right: 5px;
    }
  }
  .stats .kda {
    font-weight: bold;
  }
  @include viewportName("laptop") {
    li {
      width: 100%;
      padding: 15px 10px;
      justify-content: center;
      &:first-child {
        margin-left: 0;
      }
    }
    .champion-icon {
      width: 55px;
    }
  }
  @include viewportName("tablet") {
    .detail-stats {
      flex-direction: column;
      p:not(:last-child) {
        margin-right: 0;
      }
    }
    li {
      border-radius: 10px;
    }
  }
  @include viewportName("small-tablet") {
    li {
      flex-direction: column;
      align-items: center;
      .champion-name {
        display: none;
      }
      .stats {
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
      }
      .detail-stats {
        flex-direction: row;
      }
    }
    .champion-icon {
      width: 40px;
    }
  }
  @include viewportName("mobile") {
  }
}
