@import "./summonerRank.scss";
@import "./matchListSection.scss";
@import "./matchAvgData.scss";

@keyframes rotationLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.article {
  margin-bottom: 120px;
  padding: 40px 30px;
  border-radius: 30px;
  background-color: #fff;
  // box-shadow: 3px 14px 10px #d8d8d86c;
}
.summoner-info {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  section {
    display: flex;
  }
}
.summoner__level {
  position: relative;
  img {
    width: 90px;
    border-radius: 30px;
    border-bottom-right-radius: 10px;
  }
  span {
    position: absolute;
    bottom: 0;
    right: -5px;
    padding: 3px 7px;
    border-radius: 10px;
    border-top-left-radius: 3px;
    background-color: white;
    box-shadow: 3px 4px 10px #d8d8d8;
    font-size: 14px;
    color: #828282;
  }
}
.summoner__name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  h2 {
    font-weight: 800;
  }
  .refresh-btn {
    cursor: pointer;
    outline: none;
    border: none;
    width: 100px;
    padding: 7px 0;
    border-radius: 15px;
    background-color: #1e53bf;
    font-size: 14px;
    color: white;
    span {
      svg {
        animation: rotationLoading 1s linear infinite;
      }
    }
  }
  .refresh-time {
    margin-top: 5px;
    font-size: 14px;
    color: #6868689a;
  }
}

.detail-contents {
  .info-contents {
    display: flex;
    margin-bottom: 20px;
  }

  .more-btn {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    outline: 0;
    border: 1px solid rgba(94, 94, 94, 0.18);
    border-radius: 15px;
    padding: 15px 10px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    color: rgba(94, 94, 94, 0.66);
    span {
      svg {
        animation: rotationLoading 1s linear infinite;
      }
    }
    &:disabled {
      display: none;
      cursor: default;
    }
  }
}
