.emblem-img {
  width: 80px;
  img {
    width: 100%;
  }
}
.summoner__rank {
  display: flex;
  span {
    margin-right: 7px;
  }
  .rank-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
    color: #828282;
    font-size: 15px;
  }
  .league-point {
    font-weight: 700;
    color: #2b2b2b;
  }
  .tier-title {
    font-weight: 800;
    font-size: 20px;
    color: #2b2b2b;
  }
  .unrank {
    color: #838383;
  }
}
