@import "./form.scss";

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #67ac78;
  padding-bottom: 30px;
  .logo {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -5px;
    a {
      text-decoration: none;
      color: $main-color;
    }
  }
}

.champ-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 30px;
  & > div {
    display: grid;
    grid-template-columns: repeat(6, 70px);
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    @include viewportName("tablet") {
      display: flex;
      flex-wrap: wrap;
    }
  }
  li {
    flex-basis: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
}
