@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotationCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin section-panel {
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid rgba(70, 77, 82, 0.082);
  box-shadow: rgba(0, 0, 0, 0.024) 1px 10px 20px;
  animation: FadeIn 0.7s forwards;
}

@mixin bold-text($color: $font-black, $size: 20px) {
  font-weight: 800;
  font-size: $size;
  color: $color;
}

@mixin mid-text($color: $font-black, $size: 15px) {
  font-weight: 600;
  font-size: $size;
  color: $color;
}

@mixin gray-text($size: 14px) {
  font-size: $size;
  color: $font-gray;
}

@mixin loading-circle(
  $size: 120px,
  $color: $main-color,
  $bg-color: $background-color-light
) {
  .loader {
    position: relative;
    width: $size;
    height: $size;
    border-radius: 50%;
    animation: rotationCircle 1s infinite linear;
    background: linear-gradient(
      to right,
      $color 10%,
      rgba(255, 255, 255, 0) 42%
    );
  }
  .loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: $color;
    border-top-right-radius: $size;
    border-top-left-radius: $size;
  }
  .loader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: $bg-color;
    border-radius: 50%;
  }
}
