$background-color-light: #f5f5f5;
$main-color: #3352db;
$deep-main-color: #233daf;

$font-white: #fff;
$font-black: #2b2b2b;
$font-gray: #5e5e5e;
$font-red: #db3030;
$font-blue: $main-color;

$dark-main-color: #617eff;
$background-color-dark: #1a1a1a;
$dark-gray-color: #3a3a3a;
$dark-font-gray: #969696;
