.loading-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include loading-circle;
  .loading-text {
    position: absolute;
    font-size: 23px;
    font-weight: 900;
    color: $main-color;
  }
}
