.lately-record {
  z-index: 2;
  list-style: none;
  position: absolute;
  top: 56px;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  justify-content: center;
  background-color: white;
  box-shadow: 3px 4px 10px #e9e9e9;
  font-size: 15px;
  li {
    a {
      cursor: pointer;
    }
  }
  @include viewportName("tablet") {
    width: 100%;
  }
}

.bg-tab {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.form-sm .lately-record {
  top: 41px;
}
